/* wrapper */
.wrapper{
    width: var(--wrap-width);
    height: var(--wrap-height);
    min-width: var(--wrap-width);
    min-height: var(--wrap-height);
    background-color: var(--table-color);
    position: relative;
    overflow: hidden;
}

.wrapper>.main-bar{
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-bar>button.fullscreen{
    justify-self: flex-end;
    width: 2rem;
    height: 2rem;
    color: #FFF;
    margin: .5rem;
}

.main-bar>button.fullscreen::after{
    content: '▣';
    font-size: 2rem;
    line-height: 2rem;
}

/* players */
.player-l,.player-r,.player-self,.player-t{
    position: relative;
    overflow: hidden;
}

.player-t{
    position: absolute;
    width: 40rem;
    height: 12rem;
    top: 3rem; 
    left: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-t>.card{
    margin-left:2rem;
}

.player-l,.player-r{
    width: 20rem;
    height: 30rem;
    position: absolute;
    top: 7rem;
    display: flex;
    align-items: center;
}

.player-l{
    left: 0;
    justify-content: flex-start;
}
.player-r{
    left: 60rem;
    justify-content: flex-end;
}

.player-l>.card{
    margin-right: 1rem;
}

.player-r>.card{
    margin-left: 1rem;
}

.player-self{
    position: absolute;
    width: 100%;
    height: 12rem;
    /* background-color: rebeccapurple; */
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-self>.cards{
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
}

.player-self>.player-info{
    position: absolute;
    left: 1rem;
    top: 0;
    width: 6rem;
    height: 8rem;
}

.player-info{
    margin: 0 1rem;
    width: 6rem;
    position: relative;
}

.player-info>.avatar{
    width: 100%;
    border: .25rem solid white;
    border-radius: 50%;
    vertical-align: middle;
}

.player-info>.nickname,.player-info>.info{
    text-align: center;
    height: 1.5rem;
    color: #fff;
    line-height: 1.5rem;
}

.player-info>.nickname{
    
}

.player-info>.info{
    margin: 0 auto;
    font-size: .5rem;
    background-color: #f2f2f2;
    color: #f4abba;
    font-weight: bold;
    border-radius: 1rem;
    border: 3px solid black;
    position: relative;
    transform: translateX(-0.25rem);
    margin-bottom: .25rem;
}

.player-info>.info::after{
    content: '🍥';
    position: absolute;
    font-size: 2rem;
    right:-1rem;
    top: 0;
    vertical-align: middle;
    transform: translateY(-4px);
}

/* publics */
.public{
    width: 40rem;
    background-color: var(--table-color);
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.public>.score{
    width: 100%;
    height: 2rem;
    /* background-color: #1b7bea; */
}

.public>.out{
    width: 100%;
    height: 15rem;
    /* background-color: #0e3c70; */
    display: flex;
    border: .5rem solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

@keyframes pointer-breath {
    0%{
        opacity: 0 ;
    }
    50%{
        opacity: 100%;
    }
    100%{
       opacity: 0;
    }
}

.public>.out>.pointer{
    position: absolute;
    font-size: 2rem;
    animation: pointer-breath 1s ease-in-out infinite;
}

.public>.out>.pointer::after{
    content: "▶";
    color: rgb(35, 252, 78);
}

.left.pointer{
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotateZ(180deg);
}
.top.pointer{
    left: 50%;
    top: 0;
    transform: translateX(-50%) rotateZ(-90deg);
}

.right.pointer{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.bottom.pointer{
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotateZ(90deg);
}

.public>.out>.cards{
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
}

.out .card:hover{
    box-shadow: var(--card-shadow)!important;
}

.public>.out>.cards>.card{
    position: absolute;
    left: 0;
    top: 0;
}

.clock{
    position: absolute;
    left:4rem;
    top: 4rem;
}

.clock>.time{
    width: 2rem;
    height: 2rem;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
    background-color: #074c6e;
    border-radius: 50%;
}

.public>.operation{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.public>.operation>button{
    width: 4rem;
    height: 2rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: white;
    background-color: #1b7bea;
    border-radius: 4px;
    border: none;
    margin: 0 1rem;
    box-shadow: 0 2px 4px rgb(0, 0, 0,.5);
    cursor: pointer;
}

.public>.operation>button.idea{
    background-color: #f99410;
}

.public>.operation>button:hover{
    box-shadow: 0 0 4px rgb(0, 0, 0,.5);
}

.status{
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
    border-radius: .5rem;
    position: relative;
    margin-right: .25rem;
}

.status::after{
    position: absolute;
    left: 0;top: 0;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

.status.zhuang::after,.status.xian::after,.status.auto::after{
    text-align: center;
}

.status.zhuang::after{
    content: "庄";
    color: rgb(255, 255, 255);
    background-color: rgb(150, 22, 22);
    border-radius: 50%;
}
.status.xian::after{
    content: "闲";
    color: rgb(255, 255, 255);
    background-color: rgb(48, 22, 150);
    border-radius: 50%;
}

.status.auto::after{
    height: 1.5rem;
    width: 2.5rem;
    content: "托管";
    background-color: #414141;
    font-size: 1rem;
    font-weight: bold;
    border-radius: .5rem;
    line-height: 1.5rem;
    box-sizing:border-box;
}